body {
  margin: 0;
  font-family: Arial;
  background: #1e1e1e;
  color: white;
  text-align: center;
}

h1 {
  margin: 20px;
}

select {
  width: 80%;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.card {
  background: #2c2c2c;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
}
